Binaries/
DerivedDataCache/
Intermediate/
Saved/
*.zip
!dist/
!dist/*.zip
build_validation/
.vs/
.idea/
.vscode/
*.sln
*.suo
*.user
*.VC.db
*.VC.opendb
*.pdb
*.obj
*.lib
*.exp
*.dll
*.log
Thumbs.db
.DS_Store
